form {
  color: blue;
  width: 100%;
  animation: myanimation 1s infinite;
}

video {
  margin: 0px;
  padding: 0px;
  border: none;
}


@keyframes myanimation {
  0% {background-color: red;}
  25%{background-color:yellow;}
  50%{background-color:green;}
  75%{background-color:brown;}
  100% {background-color: red;}
}
